[submodule "M7_PHP"]
	path = M7_PHP
	url = https://github.com/jcsalinas20/M7_PHP
[submodule "Wordpress-The-Dynamic"]
	path = Wordpress-The-Dynamic
	url = https://github.com/jcsalinas20/wordpress-the-dynamic
